*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}

.header{
    width:100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;

}
.image-wrapper{
    width: 100%;
    height: 50%;  
    overflow: hidden;
}
.image-wrapper img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    opacity: 5; 
    animation: scale 25s; 
    /*filter: blur(3px);
    -webkit-filter: blur(3px);*/
}
@keyframes scale{
    0%{
        transform:scale(1.3) ;
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 10%;
    left: 5%;
}
.banner h1{
font-family: 'Baloo Da 2',serif;
font-size: 8rem;
font-weight: 300;
color: black;
line-height: 9rem;
letter-spacing: .2rem;
text-shadow:0 0.3rem 0.5rem rgba(0, 0, 0, 0.384) ;
opacity: 0; 
animation: moveBanner 1s .5s
forwards;
}
.banner p{
    font-family:"Josepin Slab" ;
    font-size: 4rem;
    color:black;
    width: 70%;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
    opacity: 0;  
    animation: moveBanner 1s .7s
    forwards;
}
@keyframes moveBanner{
0%{
    transform: translateY
    (40rem)rotateY(-20deg);
}
    100% {
         transform: translateY(0)
         rotateY(0);
         opacity: 1;
    }
}
.rec1{
    width:400px;
    height:250px;  
    font: 3em sans-serif;
    background-color:#00FFAA;
    text-align: center;
    margin-left: 15rem;
    margin-top: -40rem; 
     
}
.rec2{
    width:400px;
    height:250px;
    font: 3em sans-serif;
    background-color:#E3B100;
    text-align: center;
    margin-left: 57rem; 
    margin-top: -25rem;  
    
    
}
.rec3{
    width:400px;
    height:250px;
    font: 3em sans-serif;
    background-color:#67E6EC;
    text-align: center;
    margin-left: 99rem; 
    margin-top: -25rem;  
         
}
.rec4{
    width:400px;
    height:250px;
    font: 3em sans-serif;
    background-color:#f7ff00;
    text-align: center;
    margin-left: 15rem; 
    margin-top: 2rem;  
          
}
.rec5{
    width:820px;
    height:250px;
    font: 3em sans-serif;
    background-color:	#ff6e4ac7;
    text-align: center;
    margin-left: 57rem; 
    margin-top: -25rem;  
          
}
.Mission  {
    font-family: 'Baloo Da 2',serif;
font-size: 2rem;
font-weight: 300;
color: black;
}

